@import '../../index.scss';

.ProdutosContainer {
    text-align: center;    
    & h2 {
        margin-top: 50px;
        font-weight: 400;
    }
    & > img {
        margin: 50px 0;
        cursor: pointer;
        max-width: 100%;
        height: auto;
    }
    & .BannerDesktop {
        @include device (700px) {
            display: none;
        }
    }
    & .BannerMobile {
        display: none;
        @include device (700px) {
            display: block;
            margin: 50px auto;
        }
    }
}

.Produtos {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.Swiper-container {
    @include produtos(300px) {
        width: 300px;
    }

    @include produtos(600px) {
        width: 600px;
    }

    @include produtos(900px) {
        width: 900px;
    }

    @include produtos(1200px) {
        width: 1200px;
    }
}

.ItemProducts {
    max-width: 300px;
    align-items: baseline;
    margin-bottom: 50px;
    & p:nth-child(odd) {
        margin: 5px 0
    }
    & img {
        width: 250px;
        margin: 20px 0;
        cursor: pointer;
    }
    & h3 {
        color: $azul;
        font-weight: 400;
    }
    & button {
        padding: 10px 25px;
        background-color: $azul;
        color: $branco;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin: 5px auto 0 auto;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
            background-color: $cinza-escuro
        } 
        & .Icon {
            margin-right: 10px;
        }
    }
}