@import '../../index.scss';

.Categories {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    
    & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0;
    }
    & h2 {
        font-size: 1.5rem;
        color: $cinza-escuro;
        font-weight: 400;
    }
}


.Category {
    max-width: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);
    }
    & img {
        max-width: 250px;
        margin-bottom: 10px;
    }
    & h3 {
        font-size: 1.12rem;
        color: $azul;
        font-weight: 400;
    }
}