.TopHeader {
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    & p:nth-child(2) {
        color: #1d4ae9
    }
    & .Icon:not(.Icon:last-child, .Icon:first-child) {
       padding: 0 10px;
    }
    & .Icon:hover {
        color: blue
    }
}