@import '../../../index.scss';

.TopHeader {
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: $cinza-escuro;
    & p:nth-child(2) {
        color: $azul;
    }
    & .Icon:nth-child(even) {
        margin: 0 20px;
    }
    & .Icon:hover {
        color: $azul;
    }
}