@import '../../../index.scss';

.BottomHeader {
    @include container;
    justify-content: flex-start;
    padding-top: 10px;
    & ul {
        display: flex;
        justify-content: space-between
    }
    & li a {
        margin: 0 20px;
        color: $cinza-escuro;
        &:hover {
            color: $azul
        }
    }
}

.MenuCategories {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-right: 50px;
    font-size: 1rem;
    color: $branco;
    background-color: $azul;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    @include device(800px) {
        margin: 0 auto;
        width: 450px;
        justify-content: space-between;
    }
    &:hover {
        background-color: $cinza-escuro;
    }
    & > p {
        margin: 0 50px;
    }
}

.Dropdown {
    position: relative;
    @include device(800px) {
        width: 1200px
    }
}

.MenuDropdown {
    position: absolute;
    width: 266px;
    padding: 5px 0;
    background-color: $branco;
    display: flex;
    flex-direction: column;
    top: 48px;
    left: 0;
    @include device(800px) {
        width: 450px;  
        left: 17px
    }
    & li {
        text-align: left;
        padding: 10px 0;
        & hr {
            margin-top: 10px;
            max-width: 90%;
        }
    } 

}
