@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  background: #f1f1f1
}